#title_banner {
  width: 20rem;
  height: auto;

  margin: 2rem 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}


#start_page {
  position: 0;
  margin: 0;
  padding: 0;
  background-color: lightgray;
  background-image: url("/images/background.png");
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#start_menu {

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 1rem;
  width: 15rem;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#new_btn,
#start_btn,
#options_btn {
  width: 150px;
  height: 2.5rem;
  margin-bottom: 10px;
}

/* 
#s #start_btn {
  margin: 20% 42%;
  border: none;
  appearance: none;
  outline: none;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 48px 12px 48px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #1bafdb;
  border: 2px solid #ffffff;
}

#start_btn {
  transition-duration: 0.4s;
}

#start_btn:hover {
  font-size: 1.6em;
  background-color: #05c46b;
} */